@import "tailwindcss";

@theme {
	--font-exo: var(--font-exo);
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
	h1 {
		@apply text-center text-lg md:text-xl xl:text-2xl;
	}

	h2 {
		@apply font-bold text-base md:text-lg xl:text-xl;
	}

	p,
	li {
		@apply text-xs md:text-sm xl:text-base;
	}

	img {
		@apply select-none;
		-webkit-user-drag: none;
		-moz-user-select: none;
		-ms-user-select: none;
		pointer-events: none;
	}
}

@layer utilities {
	.mask-gradient {
		--mask-direction: to bottom;
		-webkit-mask-image: linear-gradient(
			var(--mask-direction),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.1) 15%,
			rgba(0, 0, 0, 0) 25%
		);
		mask-image: linear-gradient(
			var(--mask-direction),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.1) 15%,
			rgba(0, 0, 0, 0) 25%
		);
	}

	.mask-left {
		--mask-direction: to left;
	}

	.mask-right {
		--mask-direction: to right;
	}

	.mask-top {
		--mask-direction: to top;
	}

	.mask-bottom {
		--mask-direction: to bottom;
	}

	.mask-top-right {
		--mask-direction: to top right;
	}

	.mask-top-left {
		--mask-direction: to top left;
	}

	.mask-bottom-right {
		--mask-direction: to bottom right;
	}

	.mask-bottom-left {
		--mask-direction: to bottom left;
	}

	.text-glow,
	.hover\:text-glow:hover {
		text-shadow: 0px 0px 15px rgba(252, 255, 210, 0.9);
	}

	.scrollbar-none::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-none {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
