@import "tailwindcss";

@theme {
	--font-exo: var(--font-exo);
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.mask-gradient {
		--mask-direction: to bottom;
		-webkit-mask-image: linear-gradient(
			var(--mask-direction),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.1) 25%,
			rgba(0, 0, 0, 0) 30%
		);
		mask-image: linear-gradient(
			var(--mask-direction),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.1) 15%,
			rgba(0, 0, 0, 0) 25%
		);
	}

	.mask-left {
		--mask-direction: to left;
	}

	.mask-right {
		--mask-direction: to right;
	}

	.mask-top {
		--mask-direction: to top;
	}

	.mask-bottom {
		--mask-direction: to bottom;
	}

	.mask-top-right {
		--mask-direction: to top right;
	}

	.mask-top-left {
		--mask-direction: to top left;
	}

	.mask-bottom-right {
		--mask-direction: to bottom right;
	}

	.mask-bottom-left {
		--mask-direction: to bottom left;
	}
}
